<%- include ('header'); %>
    <form action="/" method="post" class="ui form">
        <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="message"></textarea>

            <button type="submit" class="ui blue labeled submit icon button">
            <i class="icon edit"></i>Envoyer
        </button>
        </div>
    </form>
    <div class="ui comments">
        <h3 class="ui dividing header">Commentaires</h3>
        <% for(message of messages) { %>
            <div class="comment">
                <a class="avatar">
                    <img src="https://www.robohash.org/stefan-one" alt="avatar">
                </a>
                <div class="content">
                    <div class="metadata">
                        <div class="date">
                            <%=message.created_at%>
                        </div>
                    </div>
                    <div class="test">
                        <%=message.content%>
                    </div>

                </div>
            </div>
            <%}%>
    </div>
    <%- include ('footer'); %>
        <script src="../../node_modules/jquery/dist/jquery.min.js" defer></script>